---
title: 森のDNA図鑑 - 仁保の森 2016
description: 山口の森には、一体どんな植物や昆虫が住んでいるのでしょうか？YCAMバイオ・リサーチのワークショップ「森のDNA」の参加者と一緒に山口市の仁保（にほ）の森で生き物を採集して、顕微鏡での観察やDNA解析によって調査した結果を収録しています。
lang: ja
styles:
  - /dna-of-forests/style/main
  - /dna-of-forests/vendor/flickity.min.css
---

= partial './app'