!!!
%html{ lang:"ja" }
  
  %head
  %meta{ charset:'utf-8' }
  
  %title 'au WALLET | au'
  
  %meta{ name:'Keywords', content:'TODO:text' }
  %meta{ name:'description', content:'TODO:text' }
  
  =favicon_tag 'img/favicon.ico'
  
  =stylesheet_link_tag 'main'

  =javascript_include_tag 'main'

  %body{ class:"#{page_classes}" }
    
    =yield