@import general/reset
@import general/fixes
@import general/mixins

// =========================
// Constant

$yu_gothic: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif

// =========================
// Common

html,
body
  height: 100%

body
  position: relative
  font-family: $yu_gothic
  color: #111
  font-size: 13px
  line-height: 1em
  color: #fff

#app
  position: relative
  height: 100%
  min-height: 100%
  width: 100%

$gnav_w: 80px

#gnav
  position: relative
  background: #000
  width: $gnav_w
  height: 100%
  float: left
  >a
    display: block
    width: 100%
    height: $gnav_w
    background-color: #0d0d0d
    margin-bottom: 2px
    cursor: pointer

    >div
      height: 100%
      background-position: center
      background-repeat: no-repeat
      transition-duration: 0.2s
      >span
        display: none
    &:not(.router-link-active)
      >div
        opacity: 0.5
      &:hover
        >div
          opacity: 0.9

    &.panorama
      >div
        background-image: url(/img/gnav/panorama.png)
      &.router-link-active
        >div
          background-image: url(/img/gnav/panorama-active.png)
    &.list
      >div
        background-image: url(/img/gnav/list.png)
      &.router-link-active
        >div
          background-image: url(/img/gnav/list-active.png)
    &.about
      >div
        background-image: url(/img/gnav/about.png)
      &.router-link-active
        >div
          background-image: url(/img/gnav/about-active.png)

    // Sound
    &#sound_btn
      position: absolute
      margin-bottom: 0
      bottom: 0
      >div
        background-image: url(/img/gnav/sound-on.png)


#content
  width: calc(100% - #{$gnav_w})
  float: left
  height: 100%
  overflow-y: auto
  background-color: #1a1a1a

section
  >h1
    padding: 30px 27px
    background-color: #2b2b2b
    margin-bottom: 1px