@import general/reset
@import general/fixes
@import general/mixins

// =========================
// Constant

$hiragino: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','HiraKakuProN-W3','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic',Osaka,Verdana,arial,helvetica,sans-serif


// =========================
// Common

body
  font-family: $hiragino
  color: #111
  font-size: 13px
  line-height: 1em
  position: relative
  background-color: #000
  margin: 0px
  overflow: hidden

#sound_btn
  display: block
  width: 150px
  height: 70px
  position: absolute
  top: 0
  right: 0
  cursor: pointer
  .sound_on,
  .sound_off
    position: absolute
    top: 26px
    left: 34px
  .sound_on
    display: block
  .sound_off
    display: none
  &.off
    .sound_on
      display: none
    .sound_off
      display: block