@import general/reset
@import general/fixes
@import general/mixins

// =========================
// Constant

$hiragino: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','HiraKakuProN-W3','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic',Osaka,Verdana,arial,helvetica,sans-serif


// =========================
// Common

body
  font-family: $hiragino
  color: #111
  font-size: 13px
  line-height: 1em
  position: relative