@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

*:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

a, h1, h2, h3, h4, h5, h6, p, small, section {
  max-height: 100%; }

img {
  border: 0;
  vertical-align: bottom; }

a span {
  cursor: pointer; }

.overlay {
  cursor: pointer; }

.clfl:after {
  content: ".";
  display: block;
  clear: left;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  font-size: 0.1em;
  line-height: 0; }

.clfr:after {
  content: ".";
  display: block;
  clear: right;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  font-size: 0.1em;
  line-height: 0; }

.clf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  font-size: 0.1em;
  line-height: 0; }

.clf {
  min-height: 1px; }

* html .clf {
  height: 1px;
  /*¥*/
   /*/
height: auto;
overflow: hidden;
/**/ }

section {
  max-height: inherit; }

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
html,
body {
  height: 100%; }
  html.facebook,
  body.facebook {
    height: calc(100% - 100px); }

body {
  position: relative;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 13px;
  line-height: 1em;
  color: #fff;
  background-color: #000; }

html[lang=en] body {
  font-family: "Roboto"; }

a {
  cursor: pointer;
  transition-duration: 0.2s; }

a.border {
  text-decoration: none;
  color: #fff;
  border: none;
  background: linear-gradient(to left, #808080 0%, #808080 25%, transparent 25%, transparent 100%);
  background-repeat: repeat-x;
  background-size: 4px 1px;
  background-position: 1px bottom;
  display: inline;
  padding-bottom: 0.5em; }
  a.border:hover {
    opacity: 1;
    border: none;
    background: linear-gradient(to left, #fff 0%, #fff 25%, transparent 25%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 4px 1px;
    background-position: 1px bottom; }
  a.border.dark {
    color: #808080; }
    a.border.dark:hover {
      color: #fff; }

@media (max-width: 900px) {
  a.border {
    border: none;
    background: linear-gradient(to left, #ccc 0%, #ccc 25%, transparent 25%, transparent 100%);
    background-repeat: repeat-x;
    background-size: 8px 2px;
    background-position: 2px bottom; }
    a.border:hover {
      border: none;
      background: linear-gradient(to left, #fff 0%, #fff 25%, transparent 25%, transparent 100%);
      background-repeat: repeat-x;
      background-size: 8px 2px;
      background-position: 2px bottom; } }
