@import general/reset
@import general/fixes
@import general/mixins

// =========================
// Constant

$yu_gothic: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif

// =========================
// Common

@font-face
  font-family: "Roboto"
  src: url("Roboto-Medium.ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Roboto"
  src: url("Roboto-Bold.ttf")
  font-weight: bold
  font-style: normal

html,
body
  height: 100%

body
  position: relative
  font-family: $yu_gothic
  color: #000
  font-size: 13px
  line-height: 1em
  color: #fff

a
  transition-duration: 0.2s

#app
  position: relative
  height: 100%
  min-height: 100%
  width: 100%
  overflow: hidden

$gnav_w: 80px

#content
  width: calc(100% - #{$gnav_w})
  float: left
  height: 100%
  overflow: hidden
  background-color: #000
  position: relative

#container
  >canvas
    opacity: 0.8

@media (max-width: 900px)
  #content
    width: 100%
    height: calc(100% - #{$gnav_w})