---
title: TODO
description: TODO
keywords: TODO
class: 'index,ja'
styles:
  - main
scripts:
  - lib/threejs/three.min.js
---

%video#video{autoplay: "", loop: "", style: "display:none", "webkit-playsinlin": ""}
  %source{src: "img/panorama/video-2s-no_sound.mp4", type: "video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\""}
    Your browser doesn't support video.

#container

= javascript_include_tag 'script/main.js'