---
title: 森のDNA図鑑 - 仁保の森 2016
description: 山口の森には、一体どんな植物や昆虫が住んでいるのでしょうか？YCAMバイオ・リサーチのワークショップ「森のDNA」の参加者と一緒に山口市の仁保（にほ）の森で生き物を採集して、顕微鏡での観察やDNA解析によって調査した結果を収録しています。
keywords: YCAM,DNA,森,図鑑
class: 'index,ja'
styles:
  - main
---

%video#video{autoplay: '', loop: '', style: 'display:none', 'webkit-playsinlin': ''}
  %source{src: 'img/panorama/video-2s-no_sound.mp4', type: 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    Your browser doesn't support video.


#app
  %nav#gnav
    %router-link{class: 'panorama', to: '/panorama'}
      %div
        %span 360
    %router-link{class: 'list', to: '/list'}
      %div
        %span LIST
    %router-link{class: 'about', to: '/about'}
      %div
        %span ABOUT
    <sound-button/>

  #content
    %router-view
      Top

= javascript_include_tag 'main'