---
title: 森のDNA図鑑 - 仁保の森 2016
description: 山口の森には、一体どんな植物や昆虫が住んでいるのでしょうか？YCAMバイオ・リサーチのワークショップ「森のDNA」の参加者と一緒に山口市の仁保（にほ）の森で生き物を採集して、顕微鏡での観察やDNA解析によって調査した結果を収録しています。
keywords: YCAM,DNA,森,図鑑
class: 'index,ja'
styles:
  - main
scripts:
  - lib/threejs/three.min.js
---
%audio#sound(loop)
  %source{src: 'img/field_recording.mp3', type: "audio/mp3"}

%video#video{autoplay: '', loop: '', style: 'display:none', 'webkit-playsinlin': ''}
  %source{src: 'img/panorama/video-2s-no_sound.mp4', type: 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    Your browser doesn't support video.

#container
  %a#sound_btn
    %img.sound_on{alt: 'SOUND ON', src: 'img/sound-on.png', srcset: 'img/sound-on@2x.png 2x'}
    %img.sound_off{alt: 'SOUND OFF', src: 'img/sound-off.png', srcset: 'img/sound-off@2x.png 2x'}

= javascript_include_tag 'script/main.js'