---
title: Field Guide “DNA of Forests”
description: At the workshop conducted by YCAM Bio Research, participants are collecting living samples in the forest of Yamaguchi city to make new kind of field guide. These field guides contain the species that participants identified by using observation carried out in the field and DNA analysis.
lang: en
styles:
  - main
  - vendor/flickity.min
---

#app

= javascript_include_tag '/dna-of-forests/script/main'