---
title: Field Guide “DNA of Forests”
description: TODO
body_class: 'top'
lang: en
styles:
  - main
---

%nav
  %ul
    %li
      %a(href="/dna-of-forests/") JA
    %li
      %a(href="/dna-of-forests/en/") EN
  %hr
  %ul
    %li
      %a(href="/dna-of-forests/niho/en/") Forest of Niho 2016
    %li
      %a(href="/dna-of-forests/kumano/en/") Forest of Kumano 2017
#map

= javascript_include_tag '/dna-of-forests/top/script/main'
