---
title: Field Guide “DNA of Forests”
description: In the forest of Niho, Yamaguchi city, we collected living samples with the participants who joined the workshop “DNA of the Forest” conducted by YCAM Bio Research. This website contains the results of microscopic observations and DNA analysis of the samples.
keywords: YCAM,DNA,Forests,Field Guide
lang: ja
styles:
  - /dna-of-forests/style/main
  - /dna-of-forests/vendor/flickity.min.css
---

= partial 'partials/app'