---
title: 森のDNA図鑑
description: YCAMバイオ・リサーチが開催しているワークショップ「森のDNA図鑑」では、一般の参加者とともに山口市内の森で生き物のサンプルを採集し、あたらしい図鑑の作成に取り組んでいます。参加者が観察とDNA解析の情報から生物種を推定した結果を収録しています。
lang: ja
styles:
  - main
  - vendor/flickity.min
---

#app

= javascript_include_tag '/dna-of-forests/script/main'
