---
title: 森のDNA図鑑
description: TODO
body_class: 'top'
lang: ja
styles:
  - main
---

%nav
  %ul
    %li
      %a(href="/dna-of-forests/") JA
    %li
      %a(href="/dna-of-forests/en/") EN
  %hr
  %ul
    %li
      %a(href="/dna-of-forests/niho/") 仁保の森 2016
    %li
      %a(href="/dna-of-forests/kumano/") 熊野神社 2017
#map

= javascript_include_tag '/dna-of-forests/top/script/main'
